* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    user-select: none;
    font-family: "Montserrat", sans-serif;
}

body {
    background: linear-gradient(45deg, #ff5733, #ffbd33, #33ff57, #33c9ff, #3357ff, #9b33ff, #ff33a1, #ff5733, #6a1b9a, #d32f2f, #f57c00, #c2185b, #6a1b9a);
    background-size: 1000% 1000%;
    height: 100svh;
    animation: gradientAnimation 100s linear infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 100% 0%;
    }
    50% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 0%;
    }
}

#starting-button {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 16px;
    border-radius: 28px;
    background: none;
    border: 4px solid #fff;
    color: #fff;
    font-size: large;
    cursor: pointer;
    display: flex;
    text-align: center;
}

#popup-box {
    justify-content: center;
    width: 250px;
    transition: 0.6s;
    display: none;
    opacity: 0;
    position: relative;
    transform: translate(-50%, -50%);
    top: 53%;
    left: 50%;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    font-family: "Montserrat", sans-serif;
}

#nav {
    display: flex;
    right: 0px;
    position: absolute;
    margin: 50px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 28px;
    line-height: 28px;
}

#change-language-button,
#change-sound-button,
#change-volume {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#sound-pic {
    position: relative;
}

#sounds-list {
    display: none;
    opacity: 0;
    flex-direction: column;
    position: absolute;
    list-style: none;
    gap: 4px;
    top: calc(50% + 14px);
    transition: 0.3s;
}

#sounds-list > li {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
}

#soundrange-container {
    opacity: 0;
    transition: 0.3s;
    top: 250%;
    width: 100px;
    height: 24px;
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    rotate: 270deg;
}

#sound-range {
    accent-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    width: 100%;
}

#sound-volume:hover {
    transform: scale(1.1);
    z-index: 1;
}

#img {
    height: 90px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 20%;
    transition: 0.5s;
}

#img > img {
    scale: 1.1;
}

#starting-button:hover {
    border: 4px solid rgba(255, 255, 255, 0.5);
}

#recomendations {
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    max-width: 100px;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    font-family: "Montserrat", sans-serif;
}

#recomendations:hover {
    text-decoration: underline 0.1px rgba(255, 255, 255, 0.5);
    text-underline-offset: 3px;
}

#header {
    font-weight: 600;
    font-size: 2em;
    position: relative;
}

#main-text {
    top: 150px;
}

#text-container {
    transform: translateY(-50%);
    left: -200vw;
    justify-self: center;
    position: relative;
    top: 30%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    transition: 1s;
}

#header,
#main-text {
    color: #fff;
    margin-left: 30px;
    margin-right: 30px;
    transition: 0.5s;
}

#main-text > p {
    margin-top: 20px;
}

#label {
    margin-right: 20px;
    font-size: 14px;
    max-width: 100%;
    text-align: center;
}

#key-button,
#label {
    color: #fff;
    cursor: pointer;
}

#key-button {
    padding: 14px 30px;
    border-radius: 28px;
    background: none;
    border: 4px solid #fff;
    color: #fff;
    font-size: large;
    text-align: center;
}

#key-button:hover {
    border: 4px solid rgba(255, 255, 255, 0.5);
}

#checkbox {
    width: 20px;
    height: 20px;
    background-color: #f0f0f0;
    cursor: pointer;
    margin-right: 4px;
}

#wrapper {
    height: 100px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    left: -200vw;
    transition: 0.7s;
    justify-self: center;
    top: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    transition: 1s;
}

#counter {
    transform: translate(-50%, -50%);
    top: 70%;
    position: absolute;
    display: flex;
    color: #fff;
    font-size: 80px;
    left: -200vw;
    transition: 1s;
    text-align: center;
}

#grid {
    width: 90vw;
    height: 90vh;
    position: absolute;
    display: block;
    align-items: center;
    justify-content: center;
    display: flex;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

#circle {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    animation: pulse 2s forwards infinite;
    display: none;
    transition: 0.1s;
    align-items: center;
    justify-content: center;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 0.5;
    }
    30% {
        transform: scale(1.6);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0.5;
    }
}

@keyframes moveUPDOWN {
    0% {
        top: calc(50% - 30px);
        opacity: 0.1;
    }
    25% {
        top: 0%;
        opacity: 1;
    }
    50% {
        top: calc(50% - 30px);
        opacity: 0.1;
    }

    75% {
        top: calc(100% - 30px);
        opacity: 1;
    }

    100% {
        top: calc(50% - 30px);
        opacity: 0.1;
    }
}

@keyframes moveLEFTRIGHT {
    0% {
        left: calc(50% - 30px);
        opacity: 0.1;
    }
    25% {
        left: 0%;
        opacity: 1;
    }
    50% {
        left: calc(50% - 30px);
        opacity: 0.1;
    }

    75% {
        left: calc(100% - 30px);
        opacity: 1;
    }

    100% {
        left: calc(50% - 30px);
        opacity: 0.1;
    }
}

@keyframes moveDIAGONALLY {
    0% {
        left: 0%;
        top: calc(100% - 30px);
        opacity: 1;
    }
    25% {
        left: calc(0%);
        top: calc(0%);
        opacity: 0.1;
    }
    50% {
        left: calc(100% - 30px);
        top: calc(100% - 30px);
        opacity: 1;
    }

    75% {
        left: calc(100% - 30px);
        top: calc(0%);
        opacity: 0.1;
    }

    100% {
        left: calc(0%);
        top: calc(100% - 30px);
        opacity: 1;
    }
}

@keyframes moveBYCLOCKARROW {
    0% {
        transform: rotate(0deg) translate(150px) rotate(0deg);
    }
    100% {
        transform: rotate(360deg) translate(150px) rotate(-360deg);
    }
}

@keyframes moveBYSPIRAL {
    100% {
        transform: rotate(0deg) translate(calc(0px)) rotate(0deg);
    }
    0% {
        transform: rotate(360deg) translate(calc(180px)) rotate(-360deg);
    }
}

footer {
    background: rgba(0, 0, 0, 0.15);
    width: 100vw;
    height: 5vh;
    bottom: 0px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer-text {
    color: #fff;
    opacity: 0.5;
    user-select: text;
}
